.container{
    width: 300px;
    height: fit-content;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    border-radius: 10px;
}

@media only screen and (max-width: 540px) {
    .container{
        padding: 0 15px;
        height: 400px ;
    }
}


@media only screen and (max-width: 400px) {
    .container{
        width: 85%;
    }
}